@media (max-width:1400px) {
    .col-xxl-1 {
        width: 8.33%;
        padding: 0 15px;
    }

    .col-xxl-2 {
        width: 16.66%;
        padding: 0 15px;
    }

    .col-xxl-3 {
        width: 25%;
        padding: 0 15px;
    }

    .col-xxl-4 {
        width: 33.33%;
        padding: 0 15px;
    }

    .col-xxl-5 {
        width: 41.66%;
        padding: 0 15px;
    }

    .col-xxl-6 {
        width: 50%;
        padding: 0 15px;
    }

    .col-xxl-7 {
        width: 58.33%;
        padding: 0 15px;
    }

    .col-xxl-8 {
        width: 66.66%;
        padding: 0 15px;
    }

    .col-xxl-9 {
        width: 75%;
        padding: 0 15px;
    }

    .col-xxl-10 {
        width: 83.33%;
        padding: 0 15px;
    }

    .col-xxl-11 {
        width: 91.66%;
        padding: 0 15px;
    }

    .col-xxl-12 {
        width: 100%;
        padding: 0 15px;
    }

    
}

@media (max-width:1280px) {
    .col-xl-1 {
        width: 8.33%;
        padding: 0 15px;
    }

    .col-xl-2 {
        width: 16.66%;
        padding: 0 15px;
    }

    .col-xl-3 {
        width: 25%;
        padding: 0 15px;
    }

    .col-xl-4 {
        width: 33.33%;
        padding: 0 15px;
    }

    .col-xl-5 {
        width: 41.66%;
        padding: 0 15px;
    }

    .col-xl-6 {
        width: 50%;
        /* padding: 0 15px; */
    }

    .col-xl-7 {
        width: 58.33%;
        padding: 0 15px;
    }

    .col-xl-8 {
        width: 66.66%;
        padding: 0 15px;
    }

    .col-xl-9 {
        width: 75%;
        padding: 0 15px;
    }

    .col-xl-10 {
        width: 83.33%;
        padding: 0 15px;
    }

    .col-xl-11 {
        width: 91.66%;
        padding: 0 15px;
    }

    .col-xl-12 {
        width: 100%;
        /* padding: 0 15px; */
    }

    .card-1, .card-2, .card-3, .card-4{
        width: 48%;
    }
    .xl-flexwrap{
        display: flex !important;
        flex-wrap: wrap !important;
    }
    .xl-space-btw{
        justify-content: space-between;
    }
    
    .xl-gap-30{
        gap: 30px !important;
    }

    
}

@media (max-width: 1060px){
    .main-container{
        margin-left: 0;
    }
}

@media (max-width:992px) {
    .col-lg-1 {
        width: 8.33%;
        padding: 0 15px;
    }

    .col-lg-2 {
        width: 16.66%;
        padding: 0 15px;
    }

    .col-lg-3 {
        width: 25%;
        padding: 0 15px;
    }

    .col-lg-4 {
        width: 33.33%;
        padding: 0 15px;
    }

    .col-lg-5 {
        width: 41.66%;
        padding: 0 15px;
    }

    .col-lg-6 {
        width: 50%;
        padding: 0 15px;
    }

    .col-lg-7 {
        width: 58.33%;
        padding: 0 15px;
    }

    .col-lg-8 {
        width: 66.66%;
        padding: 0 15px;
    }

    .col-lg-9 {
        width: 75%;
        padding: 0 15px;
    }

    .col-lg-10 {
        width: 83.33%;
        padding: 0 15px;
    }

    .col-lg-11 {
        width: 91.66%;
        padding: 15px;
    }

    .col-lg-12 {
        width: 100%;
        padding: 0 15px;
    }

    .p-lg-20{
        padding: 80px 32px !important;
    }
    
}

@media (max-width:800px){
    header .logo-tittle{
        display: none;
    }

    .card-1, .card-2, .card-3, .card-4{
        width: 47%;
    }
} 

@media (max-width:768px) {
    .col-md-1 {
        width: 8.33%;
        padding: 0 15px;
    }

    .col-md-2 {
        width: 16.66%;
        padding: 0 15px;
    }

    .col-md-3 {
        width: 25%;
        padding: 0 15px;
    }

    .col-md-4 {
        width: 33.33%;
        padding: 0 15px;
    }

    .col-md-5 {
        width: 41.66%;
        padding: 0 15px;
    }

    .col-md-6 {
        width: 50%;
        padding: 0 15px;
    }

    .col-md-7 {
        width: 58.33%;
        padding: 0 15px;
    }

    .col-md-8 {
        width: 66.66%;
        padding: 0 15px;
    }

    .col-md-9 {
        width: 75%;
        padding: 0 15px;
    }

    .col-md-10 {
        width: 83.33%;
        padding: 0 15px;
    }

    .col-md-11 {
        width: 91.66%;
        padding: 0 15px;
    }

    .col-md-12 {
        width: 100%;
        padding: 0 15px;
    }

    
}

@media (max-width:705px){
    .left-side-navbar li{
        display: none;
    }
} 

@media (max-width:705px){
    .hide-left{
        left: -100% !important;
    }
}

@media (max-width:577px) {
    .col-sm-1 {
        width: 8.33%;
        padding: 0 15px;
    }

    .col-sm-2 {
        width: 16.66%;
        padding: 0 15px;
    }

    .col-sm-3 {
        width: 25%;
        padding: 0 15px;
    }

    .col-sm-4 {
        width: 33.33%;
        padding: 0 15px;
    }

    .col-sm-5 {
        width: 41.66%;
        padding: 0 15px;
    }

    .col-sm-6 {
        width: 50%;
        padding: 0 15px;
    }

    .col-sm-7 {
        width: 58.33%;
        padding: 0 15px;
    }

    .col-sm-8 {
        width: 66.66%;
        padding: 0 15px;
    }

    .col-sm-9 {
        width: 75%;
        padding: 0 15px;
    }

    .col-sm-10 {
        width: 83.33%;
        padding: 0 15px;
    }

    .col-sm-11 {
        width: 91.66%;
        padding: 0 15px;
    }

    .col-sm-12 {
        width: 100%;
        /* padding: 0 15px; */
    }


    .search-bar input{
        display: none;
    }

    .search-bar{
        width: 36px;
        aspect-ratio: 1;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-color: #f3f5f8;
        border: none;
        margin-left: -10px;
    }
.flex-nowrap{
    flex-wrap: nowrap ;
}
.gap-5{
    gap: 5px;
}
.ml-5{
    margin-left: 5px;
}
header{
    padding: 15px;
}
}





