* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    font-family: 'Nunito';
}

:root {
    --primary-color-blue: #16bdfa;
    --primary-font-color: #0E1726;
    --secondar-font-color: #6f7886;
    --primary-hover-color: #2174fa;
    --font-size: 14px;
    --color-light-green: #00ab55;
}

/* properties */

.border {
    border: 1px solid black;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
}

.space-btw {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.item-center {
    align-items: center;
}

.space-even {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.position-rel {
    position: relative;
}

.padding-100 {
    padding: 100px 0;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: .3s all ease-in-out;
}

.margin-t-10 {
    margin-top: 10px !important;
}

.width-100 {
    width: 100%;
}

.f-14 {
    font-size: 14px;
}

.margin-block-20{
    margin-block: 20px;
}

/* ====gaps==== */

.gap-30 {
    gap: 30px;
}

.gap-20 {
    gap: 20px;
}

.gap-10 {
    gap: 10px;
}

.gap-40 {
    gap: 40px;
}

.gap-90 {
    gap: 90px;
}

/* ====columns-class==== */

.col-1 {
    width: 8.33%;
    padding: 0 15px;
}

.col-2 {
    width: 16.66%;
    padding: 0 15px;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}

.col-4 {
    width: 33.33%;
    padding: 0 15px;
}

.col-5 {
    width: 41.66%;
    padding: 0 15px;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}

.col-7 {
    width: 58.33%;
    padding: 0 15px;
}

.col-8 {
    width: 66.66%;
    padding: 0 15px;
}

.col-9 {
    width: 75%;
    padding: 0 15px;
}

.col-10 {
    min-width: 83.33%;
    padding: 0 15px;
}

.col-11 {
    width: 91.66%;
    padding: 0 15px;
}

.col-12 {
    width: 100%;
    padding: 0 15px;
}


body {
    background-color: #fafafa;
}

/* aside */
aside {
    padding: 1rem;
    width: 260px;
    position: fixed;
    top: 0;
    overflow-y: scroll;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(185, 182, 182, 0.1);
    height: 100vh;
    transition: .2s all ease-in;
    z-index: 111111;
}

.hide-left {
    left: -40% !important;
}

.margin-0 {
    margin-left: 0 !important;
}

.display-none {
    display: none !important;
    transition: .2s all ease-in-out;
}

.scroll-sidebar {
    height: calc(100vh - 66px);
}

/* scroll-bar-css-starts */

/* width */
aside::-webkit-scrollbar {
    width: 6px;
}

/* Track */
aside::-webkit-scrollbar-track {
    background: #f1f1f12c;
}

/* Handle */
aside::-webkit-scrollbar-thumb {
    background: #88888835;
    border-radius: 5px;

}

/* Handle on hover */
aside::-webkit-scrollbar-thumb:hover {
    background: #555;

}

/* scrollbar-css-end */

.logo-tittle {
    display: flex;
    align-items: center;
    gap: 65px;
}

.logo-tittle span:nth-child(1) {
    font-size: 24px;
    font-weight: 600;
    margin-left: 4px;
}

.inside-icon {
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition: .2s all ease-in-out;
}



.inside-icon:hover {
    background-color: #868b9227;
}


.dashboard-btn {
    width: 100%;
    padding: 10px 6.5px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size);
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 2px;
    cursor: pointer;
    transition: .2s all ease-in-out;
    user-select: none;
}

.dashboard-btn:hover {
    background-color: #e5e7eb;
    border-radius: 5px;
}

.dashboard-btn:first-child {
    background-color: #e5e7eb;
    border-radius: 5px;
}

.dashboard-btn span svg {
    margin-right: 9px;
    color: #868b92;
}

.dashboard-btn:hover div span svg {
    color: rgb(67 97 238/ 1);
}

.icon-rotate {
    transform: rotate(90deg);
    transform-origin: center;
}

.icon-arrow-greater {
    transition: .3s all ease-in-out;
    transform-origin: center;
}

h5 {
    padding-left: 6px;
    font-size: var(--font-size);
    font-weight: 500;
}

h2 {
    background-color: #f6f7fa;
    font-size: var(--font-size);
    padding: 12px 26px;
    margin: 0 -16px;
    font-weight: 700;
}

.dashboard-btn:first-child+.accordion {
    display: block;
}

.accordion {
    display: none;
}

h6 {
    margin: 2px 0;
    padding: 10px 32px;
    font-size: var(--font-size);
    color: var(--secondar-font-color);
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .1s all ease-in;
}

h6:hover {
    color: var(--primary-hover-color);
    background-color: #e5e7eb;
    border-radius: 5px;
}

.application {
    margin: 2px 0;
    padding: 8px 6.5px;
    font-size: var(--font-size);
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.application span svg {
    color: #868b92;
}

.application:hover {
    background-color: #e5e7eb;
    border-radius: 5px;
}

.application:hover span svg {
    color: rgb(67 97 238/ 1);
}

/* main-content-start */

.main-container {
    margin-left: 260px;
    transition: .2s all ease-in-out;
}

/* header */

.main-content {
    padding: 10px;
}

header {
    padding: 10px 20px;
    background-color: white;
    transition: .4s all ease-in-out;
    position: sticky;
    top: 0;
    z-index: 111;
}

header nav ul li:hover>svg {
    color: var(--primary-hover-color);
}

nav ul li {
    width: 36px;
    height: 36px;
    background-color: #f3f5f8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: var(--font-size);
    user-select: none;
}

.left-side-navbar li:nth-child(1) a{
    color: var(--secondar-font-color);
    display: flex;
}

.left-side-navbar li:nth-child(1):hover a{
    color: var(--primary-hover-color);
}

.left-side-navbar li:hover {
    background-color: #e5e7eb;
}

.right-side-nav ul li:hover {
    background-color: #e5e7eb;
}


/* language-pop-up-start */

.flag {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.language-icon {
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}


.language-popup {
    width: 280px;
    padding: 8px;
    background-color: #e5e7eb;
    position: absolute;
    right: 0;
    bottom: -150px;
    border-radius: 15px 0px 15px 15px;
    transition: .3s all ease-in-out;
}

#language-option {
    transition: .3s all ease-in-out;
    position: relative;
}

.lang-tittle {
    width: 130px;
    margin-block: 10px;
    padding-left: 10px;
}

/* language-pop-up-end */

/* message-pop-up-start */

.message-icon {
    position: relative;
    transition: .3s all ease-in-out;
}

.message-popup {
    width: 370px;
    position: absolute;
    left: -335px;
    bottom: -350px;
    border-radius: 7px 7px 0 0;
    transition: .3s all ease-in-out;
}

.message-header {
    background-image: url(../images/menu-heade.jpg);
    width: 100%;
    background-position: center;
    border-radius: 7px 7px 0 0;
}

.message-header h3 {
    font-size: 18px;
    color: white;
    padding: 20px;
}

.message-popup .main-notification {
    width: 100%;
    padding: 15px 20px;
}

.notification-icon {
    display: flex;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #ddf5f0;
    align-items: center;
    justify-content: center;
}

.notification-icon svg {
    width: 20px;
    color: forestgreen;
}

.notification-tittle div:first-child {
    font-size: 14px;
    font-weight: 600;
}

.notification-tittle div:last-child {
    font-size: 13px;
    color: #64686e;
}

.notification-time span:first-child {
    background-color: #868b9260;
    font-size: 12px;
    font-weight: 600;
    padding: 0 4px;
    display: flex;
    border-radius: 5px;
    color: #555555af;
}

.notification-time span:last-child {
    font-size: 12px;
    color: #868b929f;
    display: flex;
}

.notification-time span:hover :last-child {
    color: red;
}

/* green-dot-animation */
.circle {
    width: 4px;
    height: 4px;
    background-color: #19bd24;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 7px;
}

.ringring {
    border: 3px solid #24bd19;
    border-radius: 30px;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 4px;
    top: -1px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.0
}

@keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}

/* green-dot-end */

.bell-notification {
    width: 350px;
    background-color: white;
    position: absolute;
    padding: 8px 16px;
    border-radius: 5px;
    bottom: -330px;
    left: -315px;
    border: 1px solid rgba(128, 128, 128, 0.166);
    transition: .3s all ease-in-out;
    cursor: default;
}

.bell-notification-tittle h4 {
    font-weight: 500;
}

.bell-notification-tittle div {
    background-color: #6981f1;
    font-size: 12px;
    font-weight: 500;
    color: white;
    border-radius: 5px;
    padding: 3px 8px;
}

hr {
    margin: 10px -16px;
    border: 1px solid rgba(0, 0, 0, 0.093);
}

.profile {
    overflow: hidden;
    border-radius: 50%;
}

.bio h5 {
    padding: 0;
    font-size: 14px;
    font-weight: 700;
}

.bio h5 span {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.726);
}

.bio p {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.726);
}

.bell-notification button {
    width: 100%;
    padding: 9px 20px;
    border-radius: 7px;
    border: none;
    background-color: #4361ee;
    color: white;
    font-weight: 500;
}

/* user-profile */

.user-profile-popup {
    position: absolute;
    background-color: white;
    width: 230px;
    bottom: -267px;
    left: -194px;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.166);
    transition: .3s all ease-in-out;
}

.user-info {
    margin-bottom: 20px;
}

.user-info div:first-child {
    border-radius: 5px;
    overflow: hidden;
}

.user-name h5 {
    padding: 0;
    font-size: 16px;
    font-weight: 600;
}

.user-name h5 span {
    font-size: 12px;
    color: #00ab55;
    background-color: #ddf5f0;
    display: inline-block;
    padding: 0 4px;
    border-radius: 5px;
    margin-left: 8px;
}

.user-name p {
    font-size: var(--font-size);
    color: var(--secondar-font-color);
}

.user-name p:hover {
    color: var(--primary-hover-color);
}

.sign-out {
    color: red;
    font-weight: 500;
    padding: 5px 5px;
    border-radius: 5px;
}

.sign-out div {
    transform: rotate(90deg);
}

.user-option {
    padding: 5px 5px;
    border-radius: 5px;
}

.sign-out:hover {
    background-color: #4361ee1a;
    color: var(--primary-hover-color);
}

.user-option:hover {
    background-color: #4361ee1a;
    color: var(--primary-hover-color);
}

/* language-pop-up-end */
.pop-aside-bar {
    width: 36px;
    height: 36px;
    background-color: #f3f5f8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: var(--font-size);
}

.pop-aside-bar:hover {
    color: var(--primary-color-blue);
    background-color: #e5e7eb;
}

.search-bar {
    padding: 8px 30px 8px 5px;
    border: 1px solid rgb(224 230 237);
    border-radius: 5px;
    display: flex;
    font-size: var(--font-size);
}


.search-bar div svg {
    cursor: pointer;
}

.search-bar input {
    border: none;
    font-weight: 600;
    letter-spacing: 2px;
    padding-left: 5px;
    color: rgb(14 23 38);
    margin-left: 5px;
}

/* main-content */

.main-content ul li {
    font-size: var(--font-size);
    margin-top: 20px;
}

.main-content ul li:nth-child(1) {
    color: var(--primary-hover-color);
    cursor: pointer;
}

.main-content ul li:nth-child(1):hover{
    text-decoration: underline;
}


/* card-1 */
.card-1 {
    background-image: linear-gradient(to right, #06b6d4, #22d3ee);
    padding: 20px;
    color: white;
    border-radius: 5px;
}

.card-2 {
    background-image: linear-gradient(to right, #a78bfa, #8b5cf6);
    padding: 20px;
    color: white;
    border-radius: 5px;
    
}

.card-3 {
    background-image: linear-gradient(to right, #60a5fa, #3b82f6);
    padding: 20px;
    color: white;
    border-radius: 5px;
    
}

.card-4 {
    background-image: linear-gradient(to right, #e879f9, #d946ef);
    padding: 20px;
    color: white;
    border-radius: 5px;
    
}

.card-discription div:first-child {
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
}

.card-discription div:last-child {
    font-size: 12px;
    font-weight: 600;
    background-color: #ffffff4d;
    padding: 2px 8px;
    border-radius: 5px;
    margin: 10px 0;
}

/* charts-section */

h4 {
    font-size: 18px;
}

.see-all {
    color: var(--primary-hover-color);
    font-weight: 600;
    font-size: var(--font-size);
    cursor: pointer;
}

.favorites {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.038);
    border: 1px solid rgba(221, 219, 219, 0.612);
    width: 32%;
}

.stock-tittle p:first-child {
    font-size: var(--font-size);
}

.stock-tittle p:last-child {
    font-size: 12px;
    color: var(--secondar-font-color);
}

.chart {
    margin: 20px 0;
}

.stock-result span {
    font-size: var(--font-size);
    color: #00ab55;
}

.color-red {
    color: rgb(231 81 90) !important;
}

.color-red-light {
    color: rgba(231, 81, 91, 0.412) !important;
}

.color-blue {
    color: var(--primary-hover-color) !important;
}

.ethereum-bg {
    width: 40px;
    aspect-ratio: 1;
    background-color: #e2a03f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* statement-section */

.statement {
    padding: 23px 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.038);
    border: 1px solid rgba(221, 219, 219, 0.612);
    background-color: white;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.statement-tittle p {
    font-size: var(--font-size);
    color: #00ab55;
    margin-bottom: 20px;
}

.statement-info ul li:last-child {
    font-size: 24px;
    font-weight: 600;
    margin-top: 8px;
}

.bg-check {
    color: #00ab564b;
    position: absolute;
    right: -20px;
    bottom: -28px;
}

/* transaction */

.transaction {
    padding: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.038);
    border: 1px solid rgba(221, 219, 219, 0.612);
    background-color: white;
    border-radius: 5px;
}

.transaction h4 {
    margin-bottom: 20px;
}

table {
    font-size: var(--font-size);
    border: 1px solid rgba(0, 0, 0, 0.073);
}

.t-heading {
    font-weight: 600;
    background-color: #e4e5e6;
}

td {
    padding: 12px 16px;
    border-bottom: 1px solid rgba(210, 210, 210, 0.296);
    white-space: nowrap;
}

.t-info td:last-child {
    text-align: center;
}

.t-heading td:last-child {
    text-align: center;
}

.status-green {
    background-color: #00ab5638;
    font-size: 12px;
    border-radius: 50px;
    color: #00ab55;
    font-weight: 600;
    padding: 2px 0;
}

.status-red {
    background-color: #fadcde;
    font-size: 12px;
    border-radius: 50px;
    color: rgba(255, 0, 0, 0.63);
    font-weight: 600;
    padding: 2px 0;
}

.status-blue {
    background-color: #d3ebfd;
    font-size: 12px;
    border-radius: 50px;
    color: var(--primary-hover-color);
    font-weight: 600;
    padding: 2px 0;
}

.terms {
    margin-top: 10px;
    padding: 15px;
    font-size: var(--font-size);
}

.to-top{
    width: 35px;
    aspect-ratio: 1;
    border: 1px solid var(--primary-hover-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-hover-color);
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 0;
}

/* dark-mode */
main {
    transition: .4s all ease-in-out;
}

.dark-mode {
    background-color: #060818 !important;
    color: #888ea8;
}

.dark-bg-color {
    background-color: #0e1726 !important;
}

.icons-bg-color {
    background-color: #0e1726 !important;
    /* color: rgba(255, 255, 255, 0.74); */
    border: none !important;
}

.t-heading-bg-color {
    background-color: #30466945 !important;
}

.input-bg-color {
    background-color: #0e1726 !important;
    color: rgba(255, 255, 255, 0.526) !important;
}

.font-color {
    color: rgba(255, 255, 255, 0.526) !important;
}

.border-color {
    border: 1px solid #2f456998 !important;
}

.popup-menu-color {
    background-color: #1b2e4b !important;
}
.o-auto{
    overflow: auto;
}
