/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: 'THICCCBOI';
}

:root{
    --primary-bgcolor: #f6f3f9;
    --primary-font-color: #394456;
    --primary-header-color: #a07cc5;
}

header{
    background-color: #f6f3f9;
    padding-top: 20px;
    padding-bottom:10px;
    position: sticky;
    z-index: 22222;
    top: 0;
}

.container{
    max-width: 1320px;
    margin: auto;
}

.menu .flex li a{
    color: #394456;
    font-size: 17px;
    font-weight: 600;
    padding: 24px 20px;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
    cursor: pointer;
}

.menu .flex li a:hover{
    color: #a07cc5;
}

.menu .flex li a:hover{
    color: blue;
}

span a{
    font-size: 17px;
    font-weight: 600;
    color: #394456;
}

span a:hover{
    color: #a07cc5;
}

span a:hover:focus{
    color: blue;
}

.border{
    border: 0.5px solid black;
}

.menu .flex li a .ri-arrow-down-s-line{
    font-size: 15px;
    margin-left: -1px;
}

/* ----flex properties---- */
.flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.space-btw{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.gap-25{
    gap: 25px;
}
.space-evn{
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}

.items-center{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* -------columns----- */

.col-1{
    width: 8.33%;
    
}
.col-2{
    width: 16.66%;
    
}
.col-3{
    width: 25%;
    
}
.col-4{
    width: 33.33%;
    
}
.col-5{
    width: 41.66%;
    
}
.col-6{
    width: 50%;
    
}
.col-7{
    width: 58.33%;
    
}
.col-8{
    width: 66.66%;
    
}
.col-9{
    width: 75%;
    
}
.col-10{
    width: 83.33%;
    
}
.col-11{
    width: 91.66%;
    
}
.col-12{
    width: 100%;
    
}

/* ----===button===--- */

button{
    min-width: 107px;
    min-height: 48px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    color: white;
    background-color: #a07cc5;
    border-radius: 45px;
    cursor: pointer;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

button:hover{
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-box-shadow: 0px 5px 10px rgba(104, 97, 97, 0.227);
            box-shadow: 0px 5px 10px rgba(104, 97, 97, 0.227);
}

/* =====hero section====== */

.hero-section{
    background-color: #f6f3f9;
}

.hero-title{
    margin-bottom: 100px;
}

h1{
    font-size: 66px;
    color: #343f52;
    padding-right: 100px;
    
}

.about{
    font-size: 25px;
    line-height: 40px;
    font-weight: 500;
    color: #60697b;
    margin-top: 15px;
    padding-left: 50px;
    
}

.padding-top{
    padding-top: 90px;
}

.learn-more{
    font-size: 17px;
    font-weight: 700;
    color: #a07cc5;
    margin-top: 15px;
    display: inline-block;
}

.learn-more::before{
    content: '';
    width: 0%;
    border: 0.5px solid #a17cc57c;
    position: absolute;
    bottom: 0;
    visibility: hidden;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    right: 0;
}

.learn-more:hover::before{
   width: 100%;
   visibility: visible;
   left: 0;
}
.position-rel{
    position: relative;
}

.bg-dot{
    background-image: -o-radial-gradient(#a17cc5bf 2px, transparent 2.5px);
    background-image: radial-gradient(#a17cc5bf 2px, transparent 2.5px);
    background-size: 0.75rem 0.75rem;
    width: 140px;
    height: 250px;
    position: absolute;
    right: -35px;
    top: -35px;
    z-index: 1;
}
.hero-img{
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    width: 1320px;
    height: 690px;
    margin-bottom: -200px;
    position: relative;
    z-index: 2;
}

h3{
    text-align: center;
    font-size: 16px;
    color: #a080c6;
    margin-bottom: 15px;
    margin-top: 350px;
}

h2{
    margin: auto;
    font-size: 38px;
    width: 740px;
    color: #343f52;
    text-align: center;
    line-height: 50px;
}

.design-image{
    margin-top: 50px;
}

.pimage{
    border-radius: 8px;
}

.bg-dot2{
    background-image: -o-radial-gradient(#a17cc5bf 2px, transparent 2.5px);
    background-image: radial-gradient(#a17cc5bf 2px, transparent 2.5px);
    background-size: 0.75rem 0.75rem;
    width: 140px;
    height: 160px;
    position: absolute;
    left: -40px;;
    bottom: -28px;
    z-index: -1;
}

.design-title h4{
    text-align: left;
    font-size: 30px;
    color: #343f52;
    margin-bottom: 20px;
    margin-top: 100px;
    
}

.design-title p{
    text-align: justify;
    font-size: 17px;
    line-height: 30px;
    color: #60697b;
    font-weight: 500;
    margin-bottom: 25px;
    
}

.design-info{
    color: #60697b;
    font-size: 17px;
    font-weight: 500;
}

.checkbox{
    width: 320px;
    line-height: 30px;
}

.flex-nowrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.checkbox-padding-left{
    padding-left: 10px;
}

.button2{
    min-width: 150px;
    min-height: 50px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    color: #8ab798;
    background-color: #eaf3ef;
    border-radius: 45px;
    cursor: pointer;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.Corporate-section{
    margin: 100px 0;
}                                                                                                           

.corporate-image{
    border-radius: 8px;
    margin-left: 64px;
    margin-top: 50px;
    z-index: 1;
    
    
    
}

h4{
    text-align: left;
    font-size: 30px;
    color: #343f52;
    margin-bottom: 20px;
    margin-top: 100px;
}

.corporate-design p{
    text-align: justify;
    font-size: 17px;
    line-height: 30px;
    color: #60697b;
    font-weight: 500;
    margin-bottom: 25px;
    
}

.bg-circle{
    bottom: -2.5rem;
    right: -1.5rem;
    -webkit-transform: translate3d(0px, 12px, 0px);
            transform: translate3d(0px, 12px, 0px);
    opacity: 1;
    background-color: rgb(245, 238, 252);
    border-radius: 50%;
    width: 160px;
    height: 160px;
    position: absolute; 
    right: -50px;
    z-index: -1;
}

.our-community{
    background-image: url(../images/fixed-background-image.jpg);
    background-attachment: fixed;
    background-blend-mode: darken;
    background-color: rgba(30, 34, 40, .5);
    width: 100%;
    background-size: cover;
}

.our-community h6{
    font-size: 16px;
    text-align: center;
    color: white;
    padding-top: 160px;
    margin-bottom: 15px;
}

.our-community h5{
    font-size: 38px;
    color: white;
    width: 850px;
    text-align: center;
    margin: auto;
    
}

.join-us-btn{
    min-width: 108px;
    min-height: 52px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    color: #000000;
    background-color: #eaf3ef;
    border-radius: 45px;
    cursor: pointer;
    -webkit-transition: 0.1s all ease;
    -o-transition: 0.1s all ease;
    transition: 0.1s all ease;
    margin-top: 30px;
    margin-bottom: 160px;
}

/* ===---new section----==== */

.templates{
    padding-bottom: 140px;
}

.our-projects h3{
    margin-top: 150px;
}

.margin-bttm-50{
    margin-bottom: 50px;
}

.our-projects-image{
    width: 400px;
    border-radius: 8px;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.coffee{
    color: #fab758;
    font-size: 14px;
    margin: 15px 0;
}

.stationary{
    color: #e2626b;
    font-size: 14px;
    margin: 15px 0;
}

.branding{

    color: #f78b8d;
    font-size: 14px;
    margin: 15px 0;
}

.product{
    
    color: #747ed1;
    font-size: 14px;
    margin: 15px 0;
}

.print{
    font-size: 14px;
    margin: 15px 0;
    color: #7cb7b3;
}

.workshop{
    font-size: 14px;
    margin: 15px 0;
    color: #7aa8c7;
}
.font-size-project{
    font-size: 23px;
    color: #343f52;
    margin-bottom: 10px;
    font-weight: 600;
}

.our-projects-image:hover{
    cursor: pointer;
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
}

/* ======New Section===== */

.facts-section{
    background-color: var(--primary-bgcolor);
    padding: 200px 0;
    

}

.company-header h3{
    text-align: left;
    margin: 0;
    padding-bottom: 15px;
}



.company-header h2{
    text-align: left;
    margin: auto;
    max-width: 350px;
} 
.client-h4{
    color: #343f52;
    font-size: 45px;
    font-weight: 800;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.client p{
    text-align: center;
}



/* ====new section feedback===== */

.feedback{
    padding: 40px;
    border: 0.2px solid #e5e7eb;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 10px rgba(195, 185, 185, 0.151);
            box-shadow: 10px 10px 10px rgba(195, 185, 185, 0.151);
    background-color: white;
    
}

.feedback span{
    color: #fcc033;
}

.feedback p{
    font-size: 18px;
    line-height: 1.7;
    font-weight: 500;
    margin: 20px 0;
    color: #60697b;
}

.feedback h6{
    font-size: 19px;
    color: var(--primary-font-color);
    margin-bottom: -10px;
}

.feedback-sec{
    margin-top: -140px;
}
/* =====OUR STRATEGY======= */

.strategy-con{
    margin-bottom: 100px;
}

.strategy h3{
    margin-top: 130px;
}
.strategy h2{
    max-width: 630px;
    margin-bottom: 40px;
}

.strategy-image{
    border-radius: 8px;
    position: inherit;
    z-index: 5;
}

.strategy-process h6{
    font-size: 30px;
    color: #383f52;
    margin-top: 50px;
    margin-bottom: 35px;
}

.circle-series{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #f0eaf6;
    color: var(--primary-header-color);
    font-weight: 900;
    font-size: 20px;
    padding-left: 17px;
    padding-top: 11px;
    
}

.steps h5{
    font-size: 20px;
    margin-bottom: 5px;
    padding-left: 20px;
    color: var(--primary-font-color);
}

.steps p{
    font-size: 17px;
    line-height: 1.7;
    padding-left: 20px;
    padding-right: 150px;
    color: #60697b;
    margin-bottom: 40px;
}

.bg-dot3{
    background-image: -o-radial-gradient(#7cb798 2px, transparent 2.5px);
    background-image: radial-gradient(#7cb798 2px, transparent 2.5px);
    background-size: 0.75rem 0.75rem;
    width: 140px;
    height: 160px; 
    position: absolute;
    left: -35px;
    bottom: -35px;
}

.why-choose-us p{
    font-size: 17px;
    line-height: 1.7;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: justify;
}

.button3{
    min-width: 150px;
    min-height: 50px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    color: var(--primary-header-color);
    background-color: #f0eaf6;
    border-radius: 45px;
    cursor: pointer;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.why-us-image{
    width: 610px;
    border-radius: 8px;
    margin-left: 64px;
    margin-top: 50px;
    z-index: 2;
    position: inherit;
}

.bg-circle-linear{
    background: -o-repeating-linear-gradient(145deg, rgba(255, 255, 255, 0) .8px, #7cb798 1.6px, #7cb798 3px, rgba(255, 255, 255, 0) 3.8px, rgba(255, 255, 255, 0) 10px);
    background: repeating-linear-gradient(-55deg, rgba(255, 255, 255, 0) .8px, #7cb798 1.6px, #7cb798 3px, rgba(255, 255, 255, 0) 3.8px, rgba(255, 255, 255, 0) 10px);
    border-radius: 50%;
    height: 160px;
    width: 160px;
    position: absolute;
    right: -75px;
    bottom: -35px;
    
}


.why-us-info .checkbox ul p{
    margin-top: 0px;
    color: #60697b;
    font-weight: 500;
}

.why-choose-us p{
    color: #60697b;
    font-weight: 500;
}

.why-us-con{
    padding-bottom: 140px;
}

/* ====footer starts==== */

footer{
    background-color: #343f52;
    padding: 100px 15px;
    color: white;
}

footer h2{
    color: white;
    text-align: left;
    margin: 0;
    padding-right: 50px;
    font-size: 38px;
    
}

.btn .button2{
    background-color: var(--primary-header-color);
    color: white;
    -webkit-transition: 0.1s all ease;
    -o-transition: 0.1s all ease;
    transition: 0.1s all ease;
}

.btn .button2:hover{
    padding-bottom: 2px;
}

hr{
    width: 88%;
    margin: auto;
    border: 0.2px solid #4a54699c;
    margin-top: 55px;
    margin-bottom: 55px;
}

.footer-logo{
    margin-bottom: 20px;
}

.footer-info p{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.664);
    font-weight: 500;
    line-height: 1.7;
    
}

.footer-info nav{
    margin-top: 20px;
    font-size: 20px;
   
    
}

.c{
    cursor: pointer;
    margin-right: 15px;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
}

.c:hover{
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
}

.info-title{
    padding: 0 15px;
}

.info-title h5{
    font-size: 20px;
    margin-bottom: 15px;
}

.info-title p{
    padding-right: 150px;
    font-size: 17px;
    color: #cdd3e0;
    line-height: 1.7;
    margin-bottom: 20px;
    font-weight: 500;
}

.info-title ul li a{
    font-size: 17px;
    color: #cdd3e0;
    line-height: 2.1;
    margin-bottom: 20px;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: 0.2s all ease;
    -o-transition: 0.2s all ease;
    transition: 0.2s all ease;
}

.info-title ul li a:hover{
    color: var(--primary-header-color);
}

.our-news h5{
    font-size: 20px;
    margin-bottom: 15px;
}

.our-news p{
    font-size: 17px;
    margin-bottom: 25px;
    color: #cdd3e0;
    line-height: 1.7;
    text-align: justify;
    
}

.input-email{
    padding: 12px 20px;
    border: 1px solid var(--primary-font-color);
    background-color: #3a4557;
    color: #cdd3e0;
    font-size: 12px;
    height: 52px;
   
    width: 217px;
    border-radius: 10px 0 0 10px ;
    position: inherit;
}


.input-btn{
    max-width: 100%;
    height: 52px;
    position: absolute;
    left: 210px;
    border-radius: 0 10px 10px 0;
    
}
