@font-face {
    font-family: 'Ballet 24pt';
    src: url('Ballet24pt-Regular.woff2') format('woff2'),
        url('Ballet24pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ballet 28pt';
    src: url('Ballet28pt-Regular.woff2') format('woff2'),
        url('Ballet28pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ballet 60pt';
    src: url('Ballet60pt-Regular.woff2') format('woff2'),
        url('Ballet60pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ballet 48pt';
    src: url('Ballet48pt-Regular.woff2') format('woff2'),
        url('Ballet48pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

