@font-face {
    font-family: 'Ubuntu Sans SemiCondensed';
    src: url('UbuntuSansSemiCondensed-ExtraBold.woff2') format('woff2'),
        url('UbuntuSansSemiCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans SemiCondensed';
    src: url('UbuntuSansSemiCondensed-Bold.woff2') format('woff2'),
        url('UbuntuSansSemiCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans SemiCondensed';
    src: url('UbuntuSansSemiCondensed-SemiBold.woff2') format('woff2'),
        url('UbuntuSansSemiCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('UbuntuSans-Bold.woff2') format('woff2'),
        url('UbuntuSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('UbuntuSans-ExtraLight.woff2') format('woff2'),
        url('UbuntuSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('UbuntuSans-ExtraBold.woff2') format('woff2'),
        url('UbuntuSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('UbuntuSans-Light.woff2') format('woff2'),
        url('UbuntuSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('UbuntuSans-Medium.woff2') format('woff2'),
        url('UbuntuSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('UbuntuSans-Regular.woff2') format('woff2'),
        url('UbuntuSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('UbuntuSansCondensed-Bold.woff2') format('woff2'),
        url('UbuntuSansCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('UbuntuSans-SemiBold.woff2') format('woff2'),
        url('UbuntuSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('UbuntuSansCondensed-ExtraBold.woff2') format('woff2'),
        url('UbuntuSansCondensed-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('UbuntuSansCondensed-ExtraLight.woff2') format('woff2'),
        url('UbuntuSansCondensed-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('UbuntuSansCondensed-Light.woff2') format('woff2'),
        url('UbuntuSansCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('UbuntuSansCondensed-Medium.woff2') format('woff2'),
        url('UbuntuSansCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('UbuntuSansCondensed-Regular.woff2') format('woff2'),
        url('UbuntuSansCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans Condensed';
    src: url('UbuntuSansCondensed-SemiBold.woff2') format('woff2'),
        url('UbuntuSansCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans SemiCondensed';
    src: url('UbuntuSansSemiCondensed-BoldItalic.woff2') format('woff2'),
        url('UbuntuSansSemiCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans SemiCondensed';
    src: url('UbuntuSansSemiCondensed-ExtraLight.woff2') format('woff2'),
        url('UbuntuSansSemiCondensed-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans SemiCondensed';
    src: url('UbuntuSansSemiCondensed-ExtraBoldItalic.woff2') format('woff2'),
        url('UbuntuSansSemiCondensed-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans SemiCondensed';
    src: url('UbuntuSansSemiCondensed-Italic.woff2') format('woff2'),
        url('UbuntuSansSemiCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans SemiCondensed';
    src: url('UbuntuSansSemiCondensed-Light.woff2') format('woff2'),
        url('UbuntuSansSemiCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans SemiCondensed';
    src: url('UbuntuSansSemiCondensed-Medium.woff2') format('woff2'),
        url('UbuntuSansSemiCondensed-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans SemiCondensed';
    src: url('UbuntuSansSemiCondensed-MediumItalic.woff2') format('woff2'),
        url('UbuntuSansSemiCondensed-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans SemiCondensed';
    src: url('UbuntuSansSemiCondensed-Regular.woff2') format('woff2'),
        url('UbuntuSansSemiCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans SemiCondensed';
    src: url('UbuntuSansSemiCondensed-Thin.woff2') format('woff2'),
        url('UbuntuSansSemiCondensed-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('UbuntuSans-BoldItalic.woff2') format('woff2'),
        url('UbuntuSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('UbuntuSans-ExtraLightItalic.woff2') format('woff2'),
        url('UbuntuSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('UbuntuSans-Italic.woff2') format('woff2'),
        url('UbuntuSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu Sans';
    src: url('UbuntuSans-LightItalic.woff2') format('woff2'),
        url('UbuntuSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

